* {
  box-sizing: border-box;

}

body {
  margin-top: 0px;
  width: 1900px;
  height: 995px;
  margin-bottom: 0px;
  margin-left: 0px;
 

}

.bg {
  background-image: url(../src/Components/Assets/19cover.webp);
  width: 1920px;
  height: 995px;
}

.App {
  text-align: center;
}
